.yellow-color{
    background-color: yellow;
    margin:5px;
}
.green-color{
    background-color: green;
}
body{
    background-color: blanchedalmond;
}
.delete-button{
    border-radius: 20px 10px;
    background-color: salmon;
    color:black;
    font-size: 15px;
}