.list{
    display: flex;
    flex-direction: column;
}
.li{
    color: rgb(255,255,255);
    font-size: 22px;
    margin: 10px 0;
    float: left;
}
body{
    background-image: url(image/field_image_istock-516189065.jpg);
}
.chat{
    display:flex;
    width:30vw;
    min-height: 40vh;
    border: 1px solid white;
    margin:10vh 0 0 20vw;
    border-radius: 25px 25px 0 0;
    background-color: rgb(30, 10, 20);
}
.buttons{
    display:flex;
    width:30vw;
    height:5vh;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    margin-left:20vw;
    border-radius: 0 0 25px 25px;
    background-color: rgb(30, 10, 20);
}
.input-name{
    border-radius:25px;
    width:20%;
}
.input-message{
    border-radius:25px;
    width:65%;
}
.button-send{
    border-radius:25px;
    width:15%;
}